<div class="container">
    <div class="row pt-5">
        <div class="col-md-3">
            <h2>User Info</h2>
                <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
                <table class="table">
                    <tr>
                        <th>name</th>
                        <td><%= current_user.name %></td>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <td><%= current_user.introduction %></td>
                    </tr>
                </table>
            <p>
                <%= link_to edit_user_path(current_user.id),class:"text-white btn btn-block btn-primary" do %>
                        <i class="fas fa-user-cog"></i>
                <% end %>
            </p>
            <%= render 'books/form', book: @book %>
        </div>

        <div class="col-md-8 offset-md-1">
            <h1>Users</h1>
            <table width= "80%" class="table">
                <tr>
                    <th width="30%">image</th>
                    <th>name</th>
                    <th width="10%"></th>
                </tr>
                <% @users.each do |user| %>
                <tr>
                    <td><%= attachment_image_tag user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %></td>
                    <td><%= user.name %></td>
                    <td>
                        <%= link_to "Show", user_path(user.id), class:"btn btn-block btn-primary" %>
                        <!--<%= link_to "削除", user_path(user), method: :delete, class:"btn btn-block btn-primary" %>-->
                    </td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>